<!DOCTYPE html>
<html lang="en">
<head>
    <title>INDOREMPAH</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Vide" />
    <meta name="keywords" content="INDOREMPAH, Indonesian Best Quality Herbs and Spices" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="/assets/css/style.css" rel='stylesheet' type='text/css' />
    <!-- js -->
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/assets/js/currencyFormatter.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/assets/js/move-top.js"></script>
    <script type="text/javascript" src="/assets/js/easing.js"></script>
    <script type="text/javascript">
        $(document).ready(function() { OSREC.CurrencyFormatter.formatAll( { selector: '.item_price', currency: 'IDR' }); });
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <link href="/assets/css/font-awesome.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--- start-rate---->
    <script src="/assets/js/jstarbox.js"></script>
    <link rel="stylesheet" href="/assets/css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript">
        jQuery(function() {
            jQuery('.starbox').each(function() {
                var starbox = jQuery(this);
                starbox.starbox({
                    average: starbox.attr('data-start-value'),
                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                    ghosting: starbox.hasClass('ghosting'),
                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                    stars: starbox.attr('data-star-count') || 5
                }).bind('starbox-value-changed', function(event, value) {
                    if(starbox.hasClass('random')) {
                        var val = Math.random();
                        starbox.next().text(' '+val);
                        return val;
                    }
                })
            });
        });
    </script>
    <!---//End-rate---->
</head>
<body>
    <!---header---->
    {{#isLoginAsCustomer}}
    {{>user/header}}
    {{/isLoginAsCustomer}}
    {{^isLoginAsCustomer}}
    {{>header}}
    {{/isLoginAsCustomer}}
    <!---//header---->
    <div class="banner-top">
        <div class="container">
            <h3 >Check Out</h3>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!---contain---->
    <div class="checkout">
        <table class="checkout-table">
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
            {{#cart.detailCarts}}<!--OrderDetailIteration-->
            <tr>
                <td><img src="{{product.picture}}" class="img-thumbnail"></td>
                <td>{{product.name}}<!--OrderDetailProductName--></td>
                <td><span class="item_price">{{EachPrice}}</span><!--OrderDetailProductPrice--></td>
                <td>{{amount}} {{product.unit}}<!--OrderDetailQuantity--></td>
                <td><span class="item_price">{{price}}</span><!--OrderDetailTotalPrice--></td>
            </tr>
            {{/cart.detailCarts}}<!--//OrderDetailIteration-->
            <tr>
                <td colspan="4"><strong>Total</strong></td>
                <td><strong><span class="item_price">{{cart.totalPrice}}</span><!--OrderGrandTotalPrice--></strong></td>
            </tr>
            <tr>
                <td colspan="4"><strong>Total(Include Discount)</strong></td>
                <td><strong><span class="item_price">{{cart.totalPrice}}</span><!--OrderGrandTotal+DiscountPrice--></strong></td>
            </tr>
        </table>
        <div class="padding-30px">
            <h4>Shipping Address:</h4>
            <div class="shipping-address">
                <strong>{{customer.companyName}}</strong>
                <p>{{customer.companyAddress}}</p>
                <p>{{customer.phoneNumber}}</p>
            </div>
            <div class="to-the-right-side">
                <a href="/user/order/confirmation"><button type="button" class="btn btn-default" data-dismiss="modal">Order Confirmation</button></a>
            </div>
        </div>
    </div>
    <!--//contain--->
    <!---footer---->
    {{>user/footer}}
    <!---//footer---->
</body>
</html>