<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDOREMPAH</title>
</head>
<body>
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-grid">
            <h3>About Us</h3>
            <p>INDOREMPAH, The best Indonesian Herbs and Spice ecommerce B2B.
                We provide all Indonesian Herb and Spice best quality products </p>
        </div>
        <div class="col-md-3 footer-grid ">
            <h3>Menu</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/herbs">Herbs Product</a></li>
                <li><a href="/spices">Spices Product</a></li>
                <li><a href="/others">Others Product</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grid ">
            <h3>Customer Services</h3>
            <ul>
                <li><p><i class="fa fa-home" aria-hidden="true"></i> Bulaksumur Street, Daerah Istimewa Yogyakarta.</p></li>
                <li><p><i class="fa fa-phone" aria-hidden="true"></i> +6485-811-434-352</p></a></li>
                <li><p><i class="fa fa-envelope-o" aria-hidden="true"></i> admin@indorempah.com</a></p></a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grid">
            <h3>My Account</h3>
            <ul>
                <li><a href="/login.">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="copy-right">
            <p> &copy; 2016 INDOREMPAH. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
        </div>
    </div>
</div>
</body>
</html>