<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Edit Product</h3>
<form action="save" method="post" modelAttribute="Product" enctype="multipart/form-data">
    <h4>Product Name</h4>
    <div class="key">
        <input  type="text" value="{{product.name}}" name="name" required="">
        <div class="clearfix"></div>
    </div>
    <h4>Product Image</h4>
    <div class="key noborder">
        <input type="file" name="imagefile" accept="image/*">
        <div class="clearfix"></div>
    </div>
    <h4>Product Description</h4>
    <div class="key">
        <input  type="text" value="{{product.description}}" name="description" required="">
        <!--name harus sama dengan nama atribut class-->
        <div class="clearfix"></div>
    </div>
    <h4>Product Category</h4>
    <div class="key noborder">
        <select name="category" required="">
            <option value="Herbs"
                    {{# product.isHerbs }} selected {{/ product.isHerbs }}
            >Herbs</option>
            <option value="Spice"
                    {{# product.isSpice }} selected {{/ product.isSpice }}
            >Spice</option>
            <option value="Other"
                    {{# product.isOther }} selected {{/ product.isOther }}
            >Other</option>
        </select>
        <div class="clearfix"></div>
    </div>
    <h4 class="exkey-header">Product Price</h4>
    <div class="exkey">
        <div class="left">
            <h5>Maximum Amount</h5>
            <input  class="form-amount" type="text" value="{{product.price}}" name="first-max-amount" required="">
            <input  class="form-amount"type="text" value="{{product.amount}}" name="second-max-amount" required="">
        </div>
        <div class="right">
            <h5>Price</h5>
            <input class="form-price" type="text" value="{{product.price}}" name="first-price" required="">
            <input class="form-price" type="text" value="{{product.amount}}" name="second-price" required="">
        </div>
        <h5>Product Unit</h5>
        <div>
            <select name="unit" required="">
                <option value="kg"
                        {{# product.isKilogram }} selected {{/ product.isKilogram}}
                >kilogram</option>
                <option value="g"
                        {{# product.isGram }} selected {{/ product.isGram }}
                >gram</option>
                <option value="sack"
                        {{# product.isSack }} selected {{/ product.isSack}}
                >sack</option>
            </select>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <input type="submit" value="Save">
</form>
</body>
</html>