<!DOCTYPE html>
<html>
<head>
    <title>INDOREMPAH</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Vide" />
    <meta name="keywords" content="INDOREMPAH, Indonesian Best Quality Herbs and Spices" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="/assets/css/style.css" rel='stylesheet' type='text/css' />
    <!-- js -->
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/assets/js/currencyFormatter.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/assets/js/move-top.js"></script>
    <script type="text/javascript" src="/assets/js/easing.js"></script>
    <script type="text/javascript">
        $(document).ready(function() { OSREC.CurrencyFormatter.formatAll( { selector: '.item_price', currency: 'IDR' }); });
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <link href="/assets/css/font-awesome.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--- start-rate---->
    <script src="/assets/js/jstarbox.js"></script>
    <link rel="stylesheet" href="/assets/css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript">
        jQuery(function() {
            jQuery('.starbox').each(function() {
                var starbox = jQuery(this);
                starbox.starbox({
                    average: starbox.attr('data-start-value'),
                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                    ghosting: starbox.hasClass('ghosting'),
                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                    stars: starbox.attr('data-star-count') || 5
                }).bind('starbox-value-changed', function(event, value) {
                    if(starbox.hasClass('random')) {
                        var val = Math.random();
                        starbox.next().text(' '+val);
                        return val;
                    }
                })
            });
        });
    </script>
    <!---//End-rate---->

</head>
<body>
<!--header-->
{{#isLoginAsMerchant}}
{{>merchant/header}}
{{/isLoginAsMerchant}}
{{^isLoginAsMerchant}}
{{>header}}
{{/isLoginAsMerchant}}
<!--//header-->
<div class="banner-top">
    <div class="container">
        <h3 >All Product</h3>
        <h4><a href="index.html">Home</a><label>/</label>All Product</h4>
        <div class="clearfix"> </div>
    </div>
</div>
<!--contain-->

<div class="show-product">
        {{#products}}
        <div class="row product-box">
            <div class="col-md-2 product-image">
            <img class="img-responsive" src="{{picture}}">
            </div>
            <div class="col-md-8 product-detail">
                <h3>{{name}}</h3><br>
                <table class="product-table">
                    <tr>
                        <td nowrap><b>Category</b></td>
                        <td>:</td>
                        <td>{{category}}</td>
                    </tr>
                    <tr>
                        <td nowrap><b>Description</b></td>
                        <td>:</td>
                        <td>{{description}}</td>
                    </tr>
                    <tr>
                        <td nowrap><b>First Min Quantity</b></td>
                        <td>:</td>
                        <td>{{firstMinQuantity}}</td>
                    </tr>
                    <tr>
                        <td nowrap><b>First Price</b></td>
                        <td>:</td>
                        <td><span class ="item_price">{{firstPrice}}</span>/{{unit}}</td>
                    </tr>
                    <tr>
                        <td nowrap><b>Second Min Quantity</b></td>
                        <td>:</td>
                        <td>{{secondMinQuantity}}</td>
                    </tr>
                    <tr>
                        <td nowrap><b>Second Price</b></td>
                        <td>:</td>
                        <td><span class ="item_price">{{secondPrice}}</span>/{{unit}}</td>
                    </tr>
                    <tr>
                        <td nowrap><b>Status</b></td>
                        <td>:</td>
                        <td>{{status}}</td>
                    </tr>
                </table>

            </div>
            <div class="col-md-4 col-md-offset-8 inline-button">
                <form action="/merchant/product/{{id}}/edit" method="submit" class="form-w3agile">
                    <input type="submit" class="edit" value="Edit">
                </form>

                <form action="/merchant/product/{{id}}/delete" method="post" class="form-w3agile">
                    <input type="hidden" name="_csrf" value="{{_csrf}}"/>
                    <input type="submit" class="delete" value="Delete">
                </form>
            </div>

        </div>
        {{/products}}
</div>

<!--//contain-->


<!--footer-->
{{>footer}}
<!-- //footer-->


</body>
</html>